html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: border-box
}

body {
    font-size: var(--font-size-body-m);
    line-height: 150%;
    font-weight: 400;
    min-width: var(--layout-min-width, 20rem);
    margin: 0;
    padding: 0;
    color: var(--text-primary);
    font-family: var(--font-family-primary, var(--font-family));
    background-color: var(--background-page)
}

body.body-fixed {
    overflow: hidden
}

:first-child {
    margin-top: 0
}

img {
    max-width: 100%;
    height: auto
}

hr {
    width: 100%;
    height: 0;
    border: 0 none;
    border-top: 1px solid var(--border-subtlest)
}

* {
    margin: 0
}

h1,
.h1 {
    font-size: var(--font-size-headline-xl);
    line-height: 130%;
    font-weight: 500
}

h2,
.h2 {
    font-size: var(--font-size-headline-l);
    line-height: 150%;
    font-weight: 500
}

h3,
.h3 {
    font-size: var(--font-size-headline-m);
    line-height: 150%;
    font-weight: 500
}

h4,
.h4 {
    font-size: var(--font-size-headline-s);
    line-height: 150%;
    font-weight: 500
}

h5,
.h5 {
    font-size: var(--font-size-headline-xs);
    line-height: 150%;
    font-weight: 500
}

h6,
.h6 {
    font-size: var(--font-size-headline-xs);
    line-height: 150%;
    font-weight: 500
}

p {
    font-size: var(--font-size-body-m);
    line-height: 150%;
    font-weight: 400
}

a,
.gov-link {
    color: var(--text-primary-color);
    text-decoration: underline;
    transition: color 150ms ease-in-out;
    cursor: pointer
}

a:focus,
.gov-link:focus {
    outline: none
}

a:focus-visible,
.gov-link:focus-visible {
    border-radius: var(--border-radius, var(--corner-radius-s));
    outline: var(--outline-width, 0.125rem) solid var(--status-focus);
    outline-offset: var(--outline-offset, 0.125rem)
}

a>*,
.gov-link>* {
    color: var(--text-primary-color)
}

a .gov-link--icon-unset .gov-icon,
.gov-link .gov-link--icon-unset .gov-icon {
    display: none !important
}

a .gov-link--external-unset:after,
.gov-link .gov-link--external-unset:after {
    display: none !important
}

@media not all and (pointer: coarse) {

    a:hover,
    .gov-link:hover {
        text-decoration: none
    }
}

ul,
.gov-list,
ol,
.gov-ordered-list {
    padding-left: calc(var(--icon-size-m) + var(--spacing-s))
}

ul li,
ul .gov-list__item,
.gov-list li,
.gov-list .gov-list__item,
ol li,
ol .gov-list__item,
.gov-ordered-list li,
.gov-ordered-list .gov-list__item {
    margin-bottom: var(--spacing-s);
    font-size: var(--font-size-body-m);
    line-height: 150%;
    font-weight: 400
}

ul li:last-child,
ul .gov-list__item:last-child,
.gov-list li:last-child,
.gov-list .gov-list__item:last-child,
ol li:last-child,
ol .gov-list__item:last-child,
.gov-ordered-list li:last-child,
.gov-ordered-list .gov-list__item:last-child {
    margin-bottom: 0
}

ul ul,
ul .gov-list,
ul ol,
ul .gov-ordered-list,
ul ul:first-child,
ul ol:first-child,
.gov-list ul,
.gov-list .gov-list,
.gov-list ol,
.gov-list .gov-ordered-list,
.gov-list ul:first-child,
.gov-list ol:first-child,
ol ul,
ol .gov-list,
ol ol,
ol .gov-ordered-list,
ol ul:first-child,
ol ol:first-child,
.gov-ordered-list ul,
.gov-ordered-list .gov-list,
.gov-ordered-list ol,
.gov-ordered-list .gov-ordered-list,
.gov-ordered-list ul:first-child,
.gov-ordered-list ol:first-child {
    padding-left: var(--spacing-2xl);
    margin-top: var(--spacing-s)
}

ul--plain,
.gov-list--plain,
ol--plain,
.gov-ordered-list--plain {
    list-style: none;
    padding-left: 0
}

ul--plain>li,
ul--plain>.gov-list__item,
.gov-list--plain>li,
.gov-list--plain>.gov-list__item,
ol--plain>li,
ol--plain>.gov-list__item,
.gov-ordered-list--plain>li,
.gov-ordered-list--plain>.gov-list__item {
    margin-bottom: 0
}

ul--plain>li::before,
ul--plain>.gov-list__item::before,
.gov-list--plain>li::before,
.gov-list--plain>.gov-list__item::before,
ol--plain>li::before,
ol--plain>.gov-list__item::before,
.gov-ordered-list--plain>li::before,
.gov-ordered-list--plain>.gov-list__item::before {
    display: none
}

ul--inline>li,
ul--inline>.gov-list__item,
.gov-list--inline>li,
.gov-list--inline>.gov-list__item,
ol--inline>li,
ol--inline>.gov-list__item,
.gov-ordered-list--inline>li,
.gov-ordered-list--inline>.gov-list__item {
    display: inline-block;
    margin-right: var(--spacing-2xl);
    margin-bottom: 0
}

ul--inline>li:last-child,
ul--inline>.gov-list__item:last-child,
.gov-list--inline>li:last-child,
.gov-list--inline>.gov-list__item:last-child,
ol--inline>li:last-child,
ol--inline>.gov-list__item:last-child,
.gov-ordered-list--inline>li:last-child,
.gov-ordered-list--inline>.gov-list__item:last-child {
    margin-right: 0
}

ul,
.gov-list {
    list-style: none
}

ul>li,
ul .gov-list__item,
.gov-list>li,
.gov-list .gov-list__item {
    position: relative
}

ul>li:before,
ul .gov-list__item:before,
.gov-list>li:before,
.gov-list .gov-list__item:before {
    position: absolute;
    content: "●";
    top: 0;
    left: calc(((var(--icon-size-m) + var(--list-bullet-size, var(--height-s)))/2 + var(--spacing-s))*-1);
    color: var(--icon-on-subtle);
    font-size: .8rem
}

ul ul>li:before,
.gov-list ul>li:before {
    content: "○"
}

ul ul>li ul>li:before,
.gov-list ul>li ul>li:before {
    content: "■"
}

.gov-bg--background-white {
    background-color: var(--background-white)
}

.gov-bg--background-block-primary {
    background-color: var(--background-block-primary)
}

.gov-bg--background-block-secondary {
    background-color: var(--background-block-secondary)
}

.gov-bg--background-overlay-image {
    background-color: var(--background-overlay-image)
}

.gov-bg--background-overlay-page {
    background-color: var(--background-overlay-page)
}

.gov-bg--background-overlay-transparent {
    background-color: var(--background-overlay-transparent)
}

.gov-bg--background-page {
    background-color: var(--background-page)
}

.gov-bg--background-neutral-disabled {
    background-color: var(--background-neutral-disabled)
}

.gov-bg--background-neutral-primary {
    background-color: var(--background-neutral-primary)
}

.gov-bg--background-neutral-secondary {
    background-color: var(--background-neutral-secondary)
}

.gov-bg--background-neutral-subtle {
    background-color: var(--background-neutral-subtle)
}

.gov-bg--background-neutral-subtlest {
    background-color: var(--background-neutral-subtlest)
}

.gov-bg--background-neutral-white {
    background-color: var(--background-neutral-white)
}

.gov-bg--background-primary {
    background-color: var(--background-primary)
}

.gov-bg--background-primary-subtle {
    background-color: var(--background-primary-subtle)
}

.gov-bg--background-primary-subtlest {
    background-color: var(--background-primary-subtlest)
}

.gov-bg--background-secondary {
    background-color: var(--background-secondary)
}

.gov-bg--background-secondary-subtle {
    background-color: var(--background-secondary-subtle)
}

.gov-bg--background-secondary-subtlest {
    background-color: var(--background-secondary-subtlest)
}

.gov-bg--background-status-error {
    background-color: var(--background-status-error)
}

.gov-bg--background-status-error-subtle {
    background-color: var(--background-status-error-subtle)
}

.gov-bg--background-status-error-subtlest {
    background-color: var(--background-status-error-subtlest)
}

.gov-bg--background-status-success {
    background-color: var(--background-status-success)
}

.gov-bg--background-status-success-subtle {
    background-color: var(--background-status-success-subtle)
}

.gov-bg--background-status-success-subtlest {
    background-color: var(--background-status-success-subtlest)
}

.gov-bg--background-status-warning {
    background-color: var(--background-status-warning)
}

.gov-bg--background-status-warning-subtle {
    background-color: var(--background-status-warning-subtle)
}

.gov-bg--background-status-warning-subtlest {
    background-color: var(--background-status-warning-subtlest)
}

.gov-color--text-primary-color {
    color: var(--text-primary-color)
}

.gov-color--text-secondary-color {
    color: var(--text-secondary-color)
}

.gov-color--text-black-fixed {
    color: var(--text-black-fixed)
}

.gov-color--text-disabled {
    color: var(--text-disabled)
}

.gov-color--text-placeholder {
    color: var(--text-placeholder)
}

.gov-color--text-primary {
    color: var(--text-primary)
}

.gov-color--text-secondary {
    color: var(--text-secondary)
}

.gov-color--text-tertiary {
    color: var(--text-tertiary)
}

.gov-color--text-white {
    color: var(--text-white)
}

.gov-color--text-white-fixed {
    color: var(--text-white-fixed)
}

.gov-color--text-status-error {
    color: var(--text-status-error)
}

.gov-color--text-status-info {
    color: var(--text-status-info)
}

.gov-color--text-status-success {
    color: var(--text-status-success)
}

.gov-color--text-status-warning {
    color: var(--text-status-warning)
}

.gov-text--body-xs {
    font-size: var(--font-size-body-xs);
    line-height: 150%;
    font-weight: 400
}

.gov-text--body-s {
    font-size: var(--font-size-body-s);
    line-height: 150%;
    font-weight: 400
}

.gov-text--body-m {
    font-size: var(--font-size-body-m);
    line-height: 150%;
    font-weight: 400
}

.gov-text--body-l {
    font-size: var(--font-size-body-l);
    line-height: 150%;
    font-weight: 400
}

.gov-text--body-xl {
    font-size: var(--font-size-body-xl);
    line-height: 150%;
    font-weight: 400
}

.gov-text--body-xs-bold {
    font-size: var(--font-size-body-xs);
    line-height: 150%;
    font-weight: 700
}

.gov-text--body-s-bold {
    font-size: var(--font-size-body-s);
    line-height: 150%;
    font-weight: 700
}

.gov-text--body-m-bold {
    font-size: var(--font-size-body-m);
    line-height: 150%;
    font-weight: 700
}

.gov-text--body-l-bold {
    font-size: var(--font-size-body-l);
    line-height: 150%;
    font-weight: 700
}

.gov-text--body-xl-bold {
    font-size: var(--font-size-body-xl);
    line-height: 150%;
    font-weight: 700
}

.gov-text--headline-xs {
    font-size: var(--font-size-headline-xs);
    line-height: 150%;
    font-weight: 500
}

.gov-text--headline-s {
    font-size: var(--font-size-headline-s);
    line-height: 150%;
    font-weight: 500
}

.gov-text--headline-m {
    font-size: var(--font-size-headline-m);
    line-height: 150%;
    font-weight: 500
}

.gov-text--headline-l {
    font-size: var(--font-size-headline-l);
    line-height: 150%;
    font-weight: 500
}

.gov-text--headline-xl {
    font-size: var(--font-size-headline-xl);
    line-height: 130%;
    font-weight: 500
}

.gov-text--display-s {
    font-size: var(--font-size-display-s);
    line-height: 130%;
    font-weight: 500
}

.gov-text--display-m {
    font-size: var(--font-size-display-m);
    line-height: 125%;
    font-weight: 500
}

.gov-text--display-l {
    font-size: var(--font-size-display-l);
    line-height: 125%;
    font-weight: 500
}

.gov-hide {
    display: none
}

@media(max-width: 29.99em) {
    .gov-hide--sm {
        display: none;
        visibility: hidden
    }
}

@media(max-width: 47.99em) {
    .gov-hide--md {
        display: none;
        visibility: hidden
    }
}

@media(max-width: 63.99em) {
    .gov-hide--lg {
        display: none;
        visibility: hidden
    }
}

@media(max-width: 74.99em) {
    .gov-hide--xl {
        display: none;
        visibility: hidden
    }
}